@page "/"
@model Chirp.Web.Pages.TimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    @await Html.PartialAsync("Shared/_PostCheep")
    @await Html.PartialAsync("Shared/_CheepList")
    @await Html.PartialAsync("Shared/_Pagination")
</div>
