@page "/cheep"
@model Chirp.Web.Pages.PublishCheep;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Shared/_Layout";
}




<div class="cheepbox">
    <h3>What's on your mind @(User.Identity.Name)?</h3>
    <form method="post">
        <input style="float: left" asp-for="Text">
        <input type="submit">
    </form>
</div>

@ViewData["SubmittedCheep"]  <!-- You can display the submitted cheep message here -->
