@page "/reset"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.ResetTables;

@{
    Layout = "Shared/_Layout";
}

<h2>Reset Tables</h2>

<form method="post" onsubmit="return confirm('Are you sure you want to reset the database?');">
    <button type="submit" >Reset Tables</button>
</form>