@page "/{author}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.TimelineModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> @Model.RouteName's Timeline </h2>

    @if (User?.Identity?.IsAuthenticated == true && User?.Identity?.Name?.Equals(Model.RouteName) == false)
    {
        @if (Model.UserFollowsAuthor(Model.RouteName))
        {
            <form method="post" asp-page-handler="Unfollow">
                <button type="submit">Unfollow</button>
            </form>
        }
        else
        {
            <form method="post" asp-page-handler="Follow">
                <button type="submit">Follow</button>
            </form>
        }
    }

    <p>Following: @Model.GetFollowingCount() Followers: @Model.GetFollowersCount()</p>

    @await Html.PartialAsync("Shared/_CheepList")
</div>
