body {
  background: #eccaca;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

a {
  color: #26776F;
}

a:hover {
  color: #333;
}

input[type="text"],
input[type="password"] {
  background: white;
  border: 1px solid #e6c0bf;
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #571010;
}

div.page button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  margin-top: 1px;
  border-radius: 4px;
  background-color: #e4e4e4;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

div.page button:hover {
  background-color: #9b9b9b;
  border: 2px solid #757575;
}

div.page {
  background: white;
  border: 1px solid #cc6e6e;
  width: 700px;
  margin: 30px auto;
}

div.page h1 {
  background: #cc6e6e;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #772424;
  font-weight: normal;
  font-size: 80px;
}

div.page h1 img {
  height: 1em;
}

div.page .follows {
  padding: 0;
  margin: 3px;
}

div.page .pagination {
  margin: 10px;
}

div.page div.navigation {
  background: #DEE9E8;
  padding: 4px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  color: #888;
  font-size: 12px;
  letter-spacing: 0.5px;
}

div.page div.navigation a {
  color: #444;
  font-weight: bold;
}

div.page h2 {
  margin: 0;
  color: #571010;
  text-shadow: 0 1px 2px #ccc;
  padding: 10px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

div.page div.followstatus {
  border: 1px solid #ccc;
  background: #E3EBEA;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

div .row {
  display: flex;
  flex-direction: row;
  padding: 4px;
  margin-left: 5px;
}


div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps li {
  margin: 10px;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
  overflow-wrap: break-word;
}

div.page ul.cheeps p {
  margin: 0;
}

div.page ul.cheeps li img {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid #DBF3F1;
  margin-bottom: 3px;
}

div.page ul.cheeps li .likes {
  margin-top: 2px;
  margin-left: 2px;
}

div.page ul.cheeps li .row {
  display: flex;
  flex-direction: row;
  padding: 4px;
  margin-left: 5px;
}

div.page ul.cheeps li .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.page div.cheepbox {
  margin: 10px;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #e29494;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1em;
  color: #7e2c2c;
  margin-left: 10px;
}

div.page div.cheepbox button {
  margin-left: 10px;
  margin-bottom: 7px;
}

div.page div.cheepbox p {
  margin: 0;
}

div.page div.cheepbox input[type="text"] {
  width: auto;
}

div.message {
  list-style: none;
  margin: 10px 10px 0 10px;

  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

ul.message li {
  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.topics {
  width: 180px;
  height: 250px;
  background: #ffffff;
  border: 1px solid #e29494;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 20px;
}

.author-box.form {
  width: min-content;
}
