@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="pagination">
    @for (int i = 1; i <= Math.Ceiling((double)Model.NumOfCheeps / Model.CheepsPerPage); i++)
    {
        if (Context?.GetEndpoint()?.DisplayName?.Contains("Public") == true)
        {
            <a href="/?page=@i">@i</a>
        }
        else
        {
            <a href="?page=@i">@i</a>
        }
    }
</div>