@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.IsUserAuthenticated() && Model.IsUserOrPublicPage(Model.RouteName))
{
    <div class="cheepbox">
        <h3>What's on your mind, @(Model.GetUserName())?</h3>
        <form method="post">
            <textarea id=cheep-text-area oninput="updateCount()" class="textarea" name="Text" maxlength="@Model.MaxCharacterCount"></textarea>
            <div class="submit-count">
                <button id=cheep-btn type="submit">Submit</button>
                <count id=cheep-count class="count"></count>
            </div>
        </form>
    </div>
}
<script>
    // Update the character count on the page
    updateCount();
    function updateCount() {
        var text = document.querySelector(".textarea").value;
        var count = document.querySelector(".count");
        count.innerHTML = text.length + "/" + @Model.MaxCharacterCount;
    }
</script>