# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - bdsagroup3chirpremotedb

env:
  AZURE_WEBAPP_NAME: bdsagroup3chirpremotedb
  AZURE_WEBAPP_PACKAGE_PATH: './src/Chirp.SimpleDB'

on:
  push:
    branches:
      - topic/fix-deployment
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.x'
          include-prerelease: true

      - name: Build with dotnet
        run: dotnet build ${{ AZURE_WEBAPP_PACKAGE_PATH }}/${{ AZURE_WEBAPP_NAME }} --configuration Release

      - name: dotnet publish
        run: dotnet publish ${{ AZURE_WEBAPP_PACKAGE_PATH }}/${{ AZURE_WEBAPP_NAME }} -c Release -o ${{env.DOTNET_ROOT}}/${{ AZURE_WEBAPP_NAME }}

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/${{ AZURE_WEBAPP_NAME }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'bdsagroup3chirpremotedb'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E56255FCEED84768B5DDF7B0A42B10FC }}
          package: ${{ AZURE_WEBAPP_PACKAGE_PATH }}

